<div>
    <md-list style="min-width: 360px;" ng-if="messageList.length">
        <md-list-item ng-class="{'selected-message': messageID == item.id}"
                      class="md-3-line msg-list-border fade"
                      ng-repeat="item in messageList | box:currentBox | orderBy:'-date'"
                      ng-click="selectMessage(item)"
                      ng-init="$first && selectMessage(item)">

            <img src="img/60.jpeg" alt="Cat" class="md-avatar">

            <div class="md-list-item-text">
                <h3>{{item.from}}</h3>
                <h4>{{item.subject}}</h4>
            </div>
            <div layout="column">
                <span class="md-body-1">{{item.date | date:"mediumDate"}}</span>
                <md-icon class="favorite-icon"
                         md-svg-src="img/star-outline.svg"
                         ng-class="{'favorite-icon-active': item.favorite}"
                         ng-click="toggleFavorite()"
                         ng-hide="currentBox == 'sent'"></md-icon>
            </div>

        <md-divider></md-divider>
        </md-list-item>
    </md-list>
    <div  style="min-width: 360px;" ng-if="messageList.length < 1">
        No message yet
    </div>
</div>
